* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    opacity: 0.7;
}

ol,
ul {
    list-style: none;
}


/* ACTUAL CSS */
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

header,
main {
    width: 80%;
}

/* NAV BAR */

#logo-weebay {
    max-width: 50%;
}

nav {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

header>nav>ul {
    display: flex;
    align-items: center;
}

header>nav>ul>li>a {
    font-size: calc(0.25vw + 0.75rem);
    font-weight: 600;
    padding-right: calc(0.5vw + 0.75rem);
}

header>nav>ul> :last-child>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header>nav>ul> :last-child>a>div {
    font-size: 12px;
    color: #fff;
    background-color: #FE8476;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: 100%;
    text-align: center;
}

/* ONE PIECE SECTION */

header>section {
    margin-top: 2.5rem;
    position: relative;
    aspect-ratio: 1151 / 325;
    overflow: hidden;
    border-radius: 1rem;
    color: #fff;
}

#one-piece-video-container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: start;
    margin-top: -28.3%;
    z-index: -1;
}

#one-piece-video-background,
#logo-one-piece {
    width: 100%;
}

#one-piece-content-overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content {
    max-width: 30%;
}

.content>p {
    margin-top: 1rem;
    font-size: calc(0.5vw + 0.5rem);
    font-weight: 400;
    line-height: calc(0.5vw + 0.5rem);
}

.content>p>a {
    font-weight: 600;
}

.content>p>a>span {
    margin-right: 1rem;
}

.content>img {
    width: 100%;
}


/* main content */

h1 {
    margin-top: 2.5rem;
    font-size: calc(1vw + 1.5rem);
    font-weight: 600;
}

main>ul {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-around;
}

main>ul>li {
    display: flex;
    align-items: center;
    text-align: center;
}



main>ul>li>a {
    font-size: calc(1vw + 0.5rem);
    font-weight: 500;
    padding: 0.5rem;
}

/* carousel */

.carousel {
    margin-top: 2.5rem;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    gap: 2rem;
    width: 120%;
    height: 260px;
}

.item-carousel {
    min-width: 240px;
    height: 240px;
    border-radius: 0.5rem;
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.30);
    background-color: #ebebeb;
}

/* Sale Section */

main>section {
    margin-top: 10rem;
    border-radius: 16px;
    background: linear-gradient(279deg, #EF6988 -14.98%, #FFCEB8 101.84%);
    display: flex;
    justify-content: space-between;
    aspect-ratio: 1151 / 325;
}

/* Countdown Part */

.countdown {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10%;
    color: #fff;
    max-width: 40%;
}

.countdown>h2 {
    font-size: calc(0.75vw + 2rem);
    line-height: 1.25;
    font-weight: 600;
}

#days,
#hours,
#minutes {
    font-size: calc(0.75vw + 0.75rem);
    font-weight: 700;
}

.time>:last-child {
    color: rgba(255, 255, 255, 0.50);
    font-size: calc(0.75vw + 0.5rem);
    font-weight: 400;
    line-height: 0.75;
    padding-right: 1rem;
}

.time-container {
    display: flex;
    justify-content: start;
}

.countdown>p>a>span {
    font-size: calc(0.75vw + 0.75rem);
    padding-right: 1rem;
    font-weight: 600;
}

.time {
    display: flex;
    flex-direction: column;
}

/* Psykokwak */

.psyko-clock {
    display: flex;
    justify-content: end;
    align-items: center;
    max-width: 20%;
}

#psykokwak {
    height: 120%;
    align-self: flex-end;
}

/* Countdown Clock Psykokwak Animation*/

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.double-tic {
    position: absolute;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    right: 20vw;
}

.tic {
    width: 0.5vw;
    height: 2vw;
    background-color: white;
    border-radius: 1rem;
}

// Define the number of rotations and the duration for each animation
// There is 12 elements but we start counting at 0
$rotation-count: 11;
$rotation-duration: 60s;

// Define the percentage steps for cubic bezier changes
// Allow the "click effect"
$percentage-steps: 4.166666666667;

// Create the animation of each 12 elements
@for $i from 0 through $rotation-count {
    // Calculate the starting degree for each rotation
    // Starting each from 15deg more than the one before
    // since every element are over each other due to the absolute position
    $start: $i * 15;

    //   Keyframes for the animation
    @keyframes rotation-#{$i} {

        // use the start to be the first deg rotation of the keyframe
        0% {
            transform: rotate(#{$start}deg);
            animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
        }

        $current-step: 0;

        // Loop through 24 steps (representing 100%)
        @for $step from 1 through 24 {
            // Calculate the percentage and the rotation degree for each step (+15deg/step)
            $percentage: $step * $percentage-steps;
            $step-start: $start + (360 * ($percentage / 100));
            $rounded-step-start: round($start + ($percentage / 100) * 360);

            // Create each Keyframe
            #{$percentage + "%"} {
                transform: rotate(#{$rounded-step-start}deg);
                animation-timing-function: if($current-step % 2==0, cubic-bezier(0.15, 0, 0.8, 0.3), cubic-bezier(0.4, 0, 1, 1));
            }

            $current-step: $current-step + 1;
        }
    }

    // Create Each class and put the right animation in it
    .rotate-infinite-#{$i} {
        animation: rotation-#{$i} infinite $rotation-duration;
    }
}

/* FOOTER */

footer {
    margin-top: 10rem;
    height: 100px;
    width: 100%;
    background: #FD8670;
}

/* media queries */

@media screen and (max-width: 768px) {

    /* NavBar - Burger Menu */
    nav>ul>li {
        display: none;
    }

    /* Text Sales One Piece */
    #sales-one-piece {
        display: none;
    }

    /* Product category */
    main>ul>li {
        flex-direction: column;
    }

    main>ul>li>svg {
        height: 44px;
        width: 48px;
    }

    /* Sale Pokemon */

    .countdown {
        justify-content: center;
        margin-left: 5%;
    }

    .countdown>h2 {
        display: none;
    }

    #days,
    #hours,
    #minutes {
        font-size: calc(1vw + 0.5rem);
    }

    .time>:last-child {
        color: rgba(255, 255, 255, 0.50);
        font-size: calc(1vw + 0.5rem);
        line-height: 0.75;
        padding: 0.5rem 0.5rem 0.5rem 0;
    }

    .countdown>p>a {
        display: flex;
        align-items: center;
        font-size: calc(1vw + 0.5rem);
    }

    .countdown>p>a>span {
        font-size: calc(1vw + 0.5rem);
        padding-right: 1rem;
    }
}